/* Home */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee !important;
}
/* nav*/
.navbar {
  background: #3f51b5;
  font-family: 'Poppins', sans-serif;
}
.navbar ul li a,
.navbar-brand {
  color: #eee;
  text-transform: uppercase;
}
.navbar ul li a.nav-link:focus,
.navbar ul li a.nav-link:active {
  color: #eee;
}
.navbar ul li a:hover,
.navbar-brand:hover {
  color: #eff3fb;
}

/* Page Login */

.divider:after,
.divider:before {
  content: '';
  flex: 1;
  height: 1px;
  background: #eee;
}
button.btn-lg {
  background: #3f51b5;
  color: #eee;
}
footer {
  background: #3f51b5;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
