<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <title>Sistema de Service Desk</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="index.html">Service Desk</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="new-request.html">Novo chamado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="requests.html">Fila de chamados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="my-requests.html">Meus chamados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile.html">Meu perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help.html">Ajuda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container content-main">
        <div class="row g-0 content-request">
          <h3 class="titles">Ajuda <i class="bi bi-question-circle"></i></h3>
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente animi rerum vel beatae eveniet culpa? Sint cupiditate recusandae aut pariatur! Voluptates alias delectus ipsum autem est repudiandae distinctio, odio doloremque?
            Omnis perferendis quis accusantium, saepe ratione, doloremque exercitationem sit sunt ab nihil accusamus! Vero possimus similique ex temporibus earum ea sit assumenda aut, inventore voluptatem perferendis, maiores esse eos sapiente!
            Sequi, quaerat! Expedita, odit suscipit ipsa facilis repellat, mollitia quibusdam aliquid modi aliquam libero illum! Corrupti modi totam labore culpa, aspernatur tempore at architecto itaque omnis laudantium. Fuga, voluptatem similique!
            Sapiente ratione, maiores maxime illum officia hic, dicta autem unde cumque perferendis ipsum libero harum voluptate consectetur eum, voluptatum corporis excepturi eaque laborum illo ex? Ipsa atque nihil aspernatur modi!
            Iusto quisquam reiciendis unde quae voluptatum ipsam necessitatibus aperiam dicta eveniet doloribus cumque cupiditate voluptates molestias quos modi tempora, enim illum? Amet enim aspernatur quo sint incidunt officia natus reprehenderit?
            Consequuntur qui perferendis ut non quasi optio. Voluptatem modi dolorem tenetur soluta distinctio. Laborum nihil provident cumque architecto facilis nesciunt veniam iusto asperiores enim, repellendus voluptates, consequuntur nostrum doloribus aut?
            Nostrum dolore officia, ab possimus beatae itaque veniam. Eligendi placeat voluptatum dolores quas fuga porro optio cumque vero? Veniam placeat quibusdam ratione nesciunt soluta vel cum tempore itaque quasi tempora!
            A alias eveniet eum voluptatibus deleniti, illo fugiat illum repellat commodi omnis quod doloribus ipsum inventore maiores quia ipsam? Consequatur cum et commodi molestiae omnis magni numquam odio illo illum.
          </div>
        </div>
      </div>
    </main>
    <footer class="p-5 text-center text-white font-weight">
      <p>Ronaldo Carvalho © 2022. All rights reserved.</p>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="js/script.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
