<%- include('header'); %>

<main>
  <div class="container content-main">
    <div class="row g-0 content-request">
      <h3 class="titles">Ajuda <i class="bi bi-question-circle"></i></h3>
      <div class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente animi
        rerum vel beatae eveniet culpa? Sint cupiditate recusandae aut pariatur!
        Voluptates alias delectus ipsum autem est repudiandae distinctio, odio
        doloremque? Omnis perferendis quis accusantium, saepe ratione,
        doloremque exercitationem sit sunt ab nihil accusamus! Vero possimus
        similique ex temporibus earum ea sit assumenda aut, inventore voluptatem
        perferendis, maiores esse eos sapiente! Sequi, quaerat! Expedita, odit
        suscipit ipsa facilis repellat, mollitia quibusdam aliquid modi aliquam
        libero illum! Corrupti modi totam labore culpa, aspernatur tempore at
        architecto itaque omnis laudantium. Fuga, voluptatem similique! Sapiente
        ratione, maiores maxime illum officia hic, dicta autem unde cumque
        perferendis ipsum libero harum voluptate consectetur eum, voluptatum
        corporis excepturi eaque laborum illo ex? Ipsa atque nihil aspernatur
        modi! Iusto quisquam reiciendis unde quae voluptatum ipsam
        necessitatibus aperiam dicta eveniet doloribus cumque cupiditate
        voluptates molestias quos modi tempora, enim illum? Amet enim aspernatur
        quo sint incidunt officia natus reprehenderit? Consequuntur qui
        perferendis ut non quasi optio. Voluptatem modi dolorem tenetur soluta
        distinctio. Laborum nihil provident cumque architecto facilis nesciunt
        veniam iusto asperiores enim, repellendus voluptates, consequuntur
        nostrum doloribus aut? Nostrum dolore officia, ab possimus beatae itaque
        veniam. Eligendi placeat voluptatum dolores quas fuga porro optio cumque
        vero? Veniam placeat quibusdam ratione nesciunt soluta vel cum tempore
        itaque quasi tempora! A alias eveniet eum voluptatibus deleniti, illo
        fugiat illum repellat commodi omnis quod doloribus ipsum inventore
        maiores quia ipsam? Consequatur cum et commodi molestiae omnis magni
        numquam odio illo illum.
      </div>
    </div>
  </div>
</main>

<%- include('footer'); %>
