<%- include('header'); %>

<main>
  <div class="container content-main">
    <div class="row content-request">
      <div class="col-md-12"></div>
    </div>
  </div>
</main>

<%- include('footer'); %>
